<nav class="navbar navbar-expand-md bg-light">
    <div class="container-fluid p-3">
        <div>
            <img alt="logo" class="img" width="40" src="assets/logo1.png">
            <a class="navbar-brand" href="#">E-Commerce</a>
        </div>
    </div>
</nav>