<footer class="bg-light text-center text-lg-start fixed-bottom">
    <div class="text-center p-3" style="background-color: rgba(226, 224, 224, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="#">E-Commerce.com</a>
    </div>
</footer>