<mat-toolbar fxLayout="row" color="primary" class="toolbar">
  <span fxFlex>E-Commerce</span>
  <input type="text" fxHide.xs/>
  <button mat-icon-button class="example-icon" aria-label="search icon" fxHide.xs>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-button (click)="onLogout(item.label)" *ngFor="let item of menuItems" fxHide.xs>
    <mat-icon class="mr">{{ item.icon }}</mat-icon>
    {{ item.label }}
  </button>
  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #dropMenu="matMenu">
    <ng-container *ngFor="let item of menuItems">
      <button mat-button (click)="onLogout(item.label)">
        <mat-icon class="mr">{{ item.icon }}</mat-icon>
        {{ item.label }}
      </button>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-menu>
</mat-toolbar>
