.example-spacer {
    flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
    background: #edeaea;
    color: rgb(0, 0, 0);
}
.toolbar {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}

mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 999;
}