<app-header></app-header>
<section class="h-100">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5">
            <form
              [formGroup]="loginForm"
              #formDir="ngForm"
             (ngSubmit)="onLogin(loginForm.value)"
            >
            <div
            class="cross-validation d-flex flex-column justify-content-center"
            [class.cross-validation-error]="loginForm.errors?.['identityRevealed'] && (loginForm.touched || loginForm.dirty)"
            >
            <h3 class="form-outline mb-4">Sign In</h3>
                <div class="form-outline mb-4">
                  <label class="form-label" for="emailId">Email Address</label>
                  <input
                    type="email"
                    id="emailId"
                    class="form-control form-control-lg"
                    placeholder="Enter email address"
                    formControlName="username"
                  />
                  <div
                    *ngIf="username.invalid && (username.dirty || username.touched)"
                    class="alert alert-danger"
                  >
                    <div *ngIf="username.errors?.['required']">
                      Username is required.
                    </div>
                    <div *ngIf="username.errors?.['email']">Invalid Username</div>
                  </div>
                </div>
                <div class="form-outline mb-2">
                  <label class="form-label" for="password1">Password</label>
                  <input
                    type="password"
                    id="password1"
                    formControlName="password"
                    class="form-control form-control-lg"
                    placeholder="Enter Password"
                  />
                  <div
                    *ngIf="
                      password.invalid && (password.dirty || password.touched)
                    "
                    class="alert alert-danger"
                  >
                    <div *ngIf="password.errors?.['required']">
                      Password is required.
                    </div>
                  </div>
                </div>
                <div class="form-check mb-4">
                  <input
                    style="background-color: #16999c"
                    class="form-check-input"
                    type="checkbox"
                    id="rememberme"
                    checked
                  />
                  <label class="form-check-label" for="rememberme"
                    >Remember me</label
                  >
                </div>
                <button
                  style="background-color: #16999c; color: #ffff"
                  class="btn btn-lg btn-block"
                  type="submit"
                  [disabled]="!loginForm.valid"
                >
                  Sign In
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
