<div class="menu d-flex flex-column">
    <app-navbar class="pb-5"></app-navbar>
    <div class="example-sidenav-content mt-5" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <mat-card class="example-card" *ngFor="let card of cards">
            <mat-card-header>
                <div class="example-header-image" fxLayoutAlign.xs="center center"></div>
                <mat-card-title>{{card.title}}</mat-card-title>
        </mat-card-header>
        <img class="imgsize" mat-card-image src={{card.image}} alt="Photo of a {{card.title}}">
        <mat-card-content>
            <p class="nowrap"><b>Description: </b>{{card.description}}</p>
            <p class="nowrap"><b>Category: </b>{{card.category}}</p>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-center">
            <button mat-raised-button>Rating: {{card.rating.rate}}</button>
            <button mat-raised-button  color="accent">Count: {{card.rating.count}}</button>
        </mat-card-actions>
        <div class="price d-flex justify-content-center">
            <button mat-raised-button color="primary">Price: {{card.price}}$</button>
        </div>
    </mat-card>
</div>
</div>