.example-card {
    width: 300px;
    min-height: 550px;
    background-color: rgb(245, 240, 240);
    border-radius: 16px;
    margin: 10px;
}


.mat-card {
    box-shadow: 0px 0px 10px 0px #a6afb1,
    0 1px 1px 0 #a6afb1,
    0 1px 3px 0 #a6afb1;
}

mat-card img {
    object-fit: cover;
    width: 100%;
    max-height: 250px;
    margin-left: 1px;
}
.nowrap{
    white-space: nowrap;
    width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}